{{#partial "content"}}
    <div class="container">
        <div class="indexRow">
            <div class="col-md-12 mb-4 white-text text-center">
                <div class="row">
                    <div class="col-sm-4 col-sm-offset-4 generalnews">
                        <h3 class="text-center">General News:</h3>
                            {{#if generalnews}}
                                {{#each generalnews as |e|}}
                                    <h4 id={{e.id}}>{{e.title}}</h4>
                                    <p id={{e.id}}>{{e.content}}</p>
                                {{/each}}
                            {{/if}}
                        <a href="/create/generalnews"><button type="button" class="registerbtn">Post News</button></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{{/partial}}
{{> layout.hbs}}