{{#partial "content"}}
    <div class="container">
        <h1 class="text-center">Welcome To Organisational News Portal</h1>
        <div class="details text-center">
            <h3>Find out who our organisation's users or employees are.<br>
            <a href="/view/users" class="btn btn-secondary"><button type="button" class="registerbtn">Users</button></a>
            </h3>
            <h3>Here are the different department we got in our organisation.<br>
            <a href="/view/departments" class="btn btn-secondary"><button type="button" class="registerbtn">Departments</button></a>
            </h3>
            <h3>You want to know what's trending in our organisation, here is the link to our general news.<br>
            <a href="/view/generalnews" class="btn btn-secondary"><button type="button" class="registerbtn">General News</button></a>
            </h3>
            <h3>If you want to learn more about our departments, click the button and get to see our departments' news.<br>
            <a href="/view/departmentnews"><button type="button" class="registerbtn">Department News</button></a>
            </h3>
        </div>
    </div>

{{/partial}}

{{> layout.hbs}}