{{#partial "content"}}
<div style="background-image:/images/image.jpg">
    <form action="/generalnews" method="post">
        <div class="container">
            <h1>Register</h1>
            <p>Please fill in this form to post some news.</p>
            <p><a href="/departmentnews/new" class="registerbtn" role="button" aria-pressed="true">Post departments news</a></p>
            <hr>
            <div class="form-group">
                <label for="title"><b>Title</b></label>
                <input type="text" placeholder="Enter title" name="title" id="title" required>
            </div>
            <div class="form-group">
                <label for="content"><b>Content</b></label>
                <textarea id="content" name="content" placeholder="Write your news.."></textarea>
            </div>
            <hr>
            <button type="submit" class="registerbtn">Post</button>
        </div>
    </form>
{{/partial}}
{{> layout.hbs}}