{{#partial "content"}}
    <div class="container">
        <form action="/create/users/new" method="post">
            <h1>Register</h1>
            <p>Please fill in this form.</p>
            <div class="row">
                <div class="col-25">
                    <label for="name"><b>Name</b></label>
                </div>
                <div class="col-75">
                    <input type="text" placeholder="Enter Username" name="name" id="name" required>
                </div>
            </div>
            <div class="row">
                <div class="col-25">
                    <label for="role"><b>Role</b></label>
                </div>
                <div class="col-75">
                    <input type="role" placeholder="Enter Role" name="role" id="role" required>
                </div>
            </div>
            <div class="row">
                <div class="col-25">
                    <label for="position"><b>Position</b></label>
                </div>
                <div class="col-75">
                    <input type="position" placeholder="Enter Position" name="position" id="position" required>
                </div>
            </div>
            <div class="row">
                <div class="col-25">
                    <label for="department">Department</label>
                </div>
                <div class="col-75">
                    <select class="custom-select" id="department" name="department">
                        <option selected>Choose</option>
                            {{#if departments}}
                                {{#each departments as |e|}}
                                    <option name="department" value={{e.id}}>{{e.name}}</option>
                                {{/each}}
                            {{/if}}
                    </select>
                </div>
            </div>
            <button type="submit" class="registerbtn">Register</button>
        </form>
    </div>
{{/partial}}
{{> layout.hbs}}