{{#partial "content"}}
    <form action="/users" method="post">
        <div class="container">
            <h1>Register</h1>
            <p>Please fill in this form.</p>
            <hr>
            <div class="form-group">
                <label for="name"><b>Name</b></label>
                <input type="text" placeholder="Enter Username" name="name" id="name" required>
            </div>
            <div class="form-group">
                <label for="role"><b>Role</b></label>
                <input type="role" placeholder="Enter Role" name="role" id="role" required>
            </div>
            <div class="form-group">
                <label for="position"><b>Position</b></label>
                <input type="position" placeholder="Enter Position" name="position" id="position" required>
            </div>
            <div class="form-group">
                <label for="department"><b>Department</b></label>
                <select class="custom-select" id="department" name="department">
                    <option selected>Choose</option>
                        {{#if departments}}
                            {{#each departments as |l|}}
                                <option name="department" value={{l.id}}>{{l.name}}</option>
                            {{/each}}
                        {{/if}}
                </select>
            </div>
            <hr>

            <button type="submit" class="registerbtn">Register</button>
        </div>
    </form>
{{/partial}}
{{> layout.hbs}}